.gallery-title {
    padding-right: 100px;
    padding-left: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* 세로 중앙 정렬 */
    margin-bottom: 20px; /* 하단 여백 */
}

.gallery-title h3 {
    margin: 0; /* 기본 마진 제거 */
    padding: 10px; /* 패딩 설정 */
}

.register-button {
    padding: 10px 20px; /* 버튼 패딩 */
    background-color: #3aa9e0;
    color: white; /* 텍스트 색상 */
    text-align: center;
    text-decoration: none; /* 링크 밑줄 제거 */
    display: inline-block;
    font-size: 16px;
    border: none; /* 테두리 제거 */
    cursor: pointer; /* 마우스 커서 */
}

.register-button:hover {
    background-color: #2e9cdf;
}

.search-radio {
    float: left;
}

.search-radio p {
    font-size: 10px;
}

.search-radio input[type="radio"] {
    width:10px;
    height:10px;
}

.lost-item-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 5개의 열을 동일한 크기로 설정 */
    place-items: center;
    grid-template-rows: auto auto; /* 행의 크기는 내용에 따라 자동 조정 */
    gap: 20px; /* 그리드 항목 사이의 간격 */
    max-width: 70%; /* 갤러리의 최대 너비 설정, 필요에 따라 조정 */
    margin: auto; /* 중앙 정렬 */
}

.item {
    cursor: pointer; /* 마우스 오버 시 커서 포인터로 변경 */
    display: flex;
    flex-direction: column; /* 요소를 수직 방향으로 정렬 */
    align-items: center; /* 가로축 중앙 정렬 */
    text-align: center; /* 텍스트 중앙 정렬 */
    width: 100%;
    height: 100%;
}
.item:hover {
    background-color: #f0f0f0; /* 마우스 오버 시 배경 색상 변경 */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}