.search {
width:600px;
height:50px;
background-color:#FFFFFF;
border-radius: 40px;
border-style: dashed;
border-width: 1.5px;
border-color:black;
}

#searchbar {
    font-size: 16px;
    width: 425px;
    border:0px;

    outline:none;
    margin:10px;
    padding:5px;
    float:left;
}

#searchIcon {
    width:30px;
    float:right;
    padding:10px;

}

.my {
    width:200px;
    height:70px;
}

#alarm {
margin:15px;
}

#mypageIcon {
margin:15px;
}

