.detailSearchForm{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-bar {
    width: 100%;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: space-evenly; /* 각 항목 간 동일한 간격 유지 */
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.menu li {
    flex: 1 1 0px; /* 각 항목이 유효한 공간을 균등하게 차지하도록 함 */
    text-align: center; /* 항목의 텍스트를 중앙 정렬 */
    padding: 10px 20px; /* 패딩을 조정하여 내용에 여유 공간 제공 */
    margin: 0 5px; /* 양 옆 마진을 조금 주어 간격을 미세 조정 */
    box-sizing: border-box; /* 패딩과 보더가 width와 height에 포함되도록 설정 */
}

.menu-bar .menu form {
    width: 100%; /* form을 메뉴 항목과 같은 너비로 설정 */
    margin: 0; /* form의 마진 제거 */
}

.menu-link {
    display: block;
    width: 100%;
    padding: 10px 0;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    text-align: center;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-link:hover, .menu-link:focus {
    background-color: #f0f0f0;
}

h3 {
    text-align: center;
}